// @import 'breakpoints';
// @use 'breakpoints' as bp;
$sm: 450px;   //small
$md: 700px;   //medium
$lg: 950px;  //large

$sm-dn: "(max-width: #{$sm - 1})";
$md-dn: "(max-width: #{$md - 1})";
$lg-dn: "(max-width: #{$lg - 1})";

@mixin mobile {
  @media screen and #{$sm-dn} { @content; }
}

@mixin tablet {
  @media screen and #{$md-dn} { @content; }
}

@mixin small-desktop {
  @media screen and #{$lg-dn} { @content; }
}


// @include tablet {
//   background: yellow;
// }