// @import 'breakpoints';
// @use 'breakpoints' as bp;
$sm: 450px; //small
$md: 700px; //medium
$lg: 950px; //large
$xl: 1500px;//extra-large

$sm-dn: "(max-width: #{$sm - 1})";
$md-dn: "(max-width: #{$md - 1})";
$lg-dn: "(max-width: #{$lg - 1})";
$xl-dn: "(max-width: #{$xl - 1})";

$md-up: "(min-width: #{$md})";

@mixin mobile {
  @media screen and #{$sm-dn} { @content; }
}

@mixin tablet {
  @media screen and #{$md-dn} { @content; }
}

@mixin tablet-up {
  @media screen and #{$md-up} { @content; }
}


@mixin small-desktop {
  @media screen and #{$lg-dn} { @content; }
}

@mixin desktop {
  @media screen and #{$xl-dn} { @content; }
}


// @include tablet {
//   background: yellow;
// }