// @import 'breakpoints';
// @use 'breakpoints' as bp;
$md: 700px; //medium
$lg: 950px; //large
$xl: 1500px;//extra-large

$md-dn: "(max-width: #{$md - 1})";
$lg-dn: "(max-width: #{$lg - 1})";

$md-up: "(min-width: #{$md})";
$lg-up: "(min-width: #{$lg})";


@mixin phone {
  @media screen and #{$md-dn} { @content; }
}

@mixin phone-up {
  @media screen and #{$md-up} { @content; }
}


@mixin desktop {
  @media screen and #{$lg-dn} { @content; }
}

@mixin desktop-up {
  @media screen and #{$lg-up} { @content; }
}

// use
// @include phone {
//   background: yellow;
// }