---
---

@charset 'UTF-8';
@import 'reset';
@import 'breakpoints';

$primary: #65D1FF;
$secondary: #1E1E1E;

* { font-family: 'Source Sans Pro', sans-serif; }

body {

  @include mobile {
    background: yellow;
  }

}
header, .btn, h2, h3, p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

h2 {
  color: #000;
  font-size: 70px;
}

h3 {
  color: #000;
  font-size: 50px;
}

p {
  font-size: 40px;
  font-weight: 400;
}

a {
  color: #000;
}

body,
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  float: left;
  width: 100%;
  padding: 43.5px 0;
  background: $primary;
  h1 {
    float: left;
    a {
      float: left;
      margin-left: 118px;
      img {
        display: block;
      }
    }
  }
  div {
    a {
      font-size: 40px;
      text-decoration: none;
      float: right;
      color: #fff;
      &:first-of-type {
        margin-right: 102px;
      }
      &:last-of-type {
        margin-right: 132px;
      }
    }
  }
}

div.internal {
  max-width: 1000px;
  margin-bottom: 300px;
  h2 {
    margin: 155px 0 145px;
    text-align: center;
  }
  h3 {
    margin-top: 50px;
  }
  ul {
    list-style: disc;
    margin: 40px 0 40px 40px;
    li {
      margin-top: 14px;
      font-size: 40px;
    }
  }
  p {
    margin-top: 30px;
  }
}

.box {
  width: 50%;
  // height: 100vh;
  min-height: 38em;
  max-height: 60em;
  // padding: 6vw;
  padding: 2.7vw;
  h3 {
    font-size: 70px;
  }
  .btn {
    margin-top: 30px;
    display: inline-block;
    padding: .3em 1.3em;
    border-radius: 3em;
    background-color: #FF1600;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    border: none;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    &:hover {
      box-shadow: 0 0.35em 0.85em rgba(0, 0, 0, 0.2);
    }
  }
  &#video {
    background: #A160FB;
  }
  &#gif {
    background: #5162FA;
  }

  &#users {
    background: $secondary;
    h3 {
      color: #fff;
    }
  }

  &#people {
    background: $primary;
  }
  &.phones {
    img {
      display: block;
      margin: 0 auto;
      &:last-of-type {
        margin-top: 70px;
      }
    }
  }
}

footer {
  background: $primary;
  padding: 70px 104px 40px;
  color: #fff;
  width: 100%;
  h3 {
    font-weight: bold;
    color: #fff;
  }
  ul {
    margin: 30px 0 20px;
  }
  h3, li, p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 40px;
  }
  p {
    font-size: 34px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
