<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO Add favicon -->
    <link rel="shortcut icon" href="data:image/png;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==">
    <meta name="description" content="Tiny Talk - Bringing back social serendipity">
    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.name }} &mdash; {{ site.description }}{% endif %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" type="text/css">
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>
